
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');












.out, .in{
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
}
.in{
    background-color: aqua;
    animation: loading 3s;
    animation-iteration-count: 7;

}

@keyframes loading {
    0%{width: 0%;}
    30%{width: 60%;}
    70%{width: 70%;}
    100%{width: 100%;}
}




/* 
*{
    padding: 0px; margin: 0px;
}
nav{
    background-color: blue;
    color: wheat;
    
}
nav ul li a{
    color: white;
    text-decoration: none;

}
nav ul{
    padding: 10px;
    margin: 7px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cent{
    background-color: bisque;
    border: 2px solid black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* 

.conmain{
    padding: 20px;
    height: 700px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
.con1, .con2, .con3,.con4{
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.274);
    margin: 10px;
    background-color: white;
    height: 100px;
    width: 200px;
} */





/* *{
    padding: 0px; margin: 0px;
}
header{
    margin-bottom: 20px;
}
nav{
    padding: 15px;
    background-color: aquamarine;
}
ul li{
    display: inline-block;
}
ul li a{
    background: white;
    color: black;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;
} */

/* a{
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
} */
/* .mai{
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 50%;
}
.con1, .con2, .con3{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.con3{
    position: relative;
    top: -20px;
    right: 70px;
    z-index: 1;
}
.con2{
    position: fixed;
    top: 100px;
    right: 100px;
}
footer{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: burlywood;
    position: fixed;
    bottom: 0px;
}
footer div h6{
    display: inline-block;
    padding: 10px;
} */




/* .box1{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    box-sizing: border-box;
}
.box2{
    margin-top: 30px;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    box-sizing: content-box;
} */





/* .bord{
    text-align: center;
    height: 300px;
    background-color:rgb(0, 255, 170);
    border: 4px dashed black;
    border-radius: 30px;
} */


/* .con1{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div h1{
    letter-spacing: 10px;
}
a{
    color: black;
    text-decoration: none;
}
.upp{
    text-transform: uppercase;
}
.lihi{
    line-height: 30px;
    
}

.special{
    background-color: black;
    color: aliceblue;
    padding: 30px;
    margin: 10px 0px;
    letter-spacing: 1px;
    line-height: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
} */

/* .sec2{
    height: 300px;
    min-width: 400px;
    background: url(../polynesia-3021072_1280.jpg) no-repeat center;
    padding: 70px 20px;

} */

/* .con1{
    padding: 30px;
    color: aliceblue;
    background-color: rgb(0, 0, 255, 0.7);
}
.con2{
    height: 300px;
    background: url(../polynesia-3021072_1280.jpg) no-repeat center;
} */



/* h1{
    color: red;
}
#heading{
    text-align: center;
    padding: 30px;
    color: #ffffff;
}
div{
    background-color: blueviolet;
}
.classsel{
    color: white;
}
#idsel{
    height: 300px;
} */

/* #first, #second{
    background-color: aqua;
    margin: 20px 0px;
    padding: 30px 0px;
    text-align: center;
} */