*{
    margin: 0px;
    background-color: rgb(173, 193, 255);
}
li, a{
    list-style-type: none;
    /* text-align: center; */
    display: inline-block;
    padding: 7px;
    margin: 3px;
    text-decoration: black solid;
    color: black;
}