*{
    margin: 0px;
}
body{
    background-color: rgb(43, 144, 226);
}
nav{
    background-color: white;
}
li, a{
    list-style-type: none;
    /* text-align: center; */
    display: inline-block;
    padding: 7px;
    margin: 3px;
    text-decoration: black solid;
    color: black;
}
a:hover{
    color: white;
    /* animation-duration: 3ms; */
    background-color: rgb(0, 0, 0);
    border-radius: 7px;

}
ul{
    display: inline-block;
}
.mainlogo{
    float: right;
    display: inline-block;
    height: 59px;
}